.gamePanel {
  background-color: rgba(1,1,1,.7);
  width: 800px;
  min-height: 700px;
  height: auto;
  margin: auto;
  opacity: 1;
  animation: display 6s;
  // animation: dancingWindow 5s infinite;
  animation-timing-function: ease-in;
  border: 2px solid black;
}

@keyframes display {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dancingWindow {
  25% {
    transform: scale(1.05)
  }
  
  50% {
    transform: scale(1)
  }

  75% {
    transform: scale(1.05)
  }
  100% {
    transform: scale(1)
  }
}