.gameForm {
  width: inherit;
  height: inherit;
  display: block !important;
  padding: 15px;

  & .question {
    width: 100%;
    text-align: center;
    color: black;
    margin: auto;
    padding: 20px 0px;
    font-size: 20px;
    color: white;

    & .questionText {
      float: left;
      width: 700px;
      font-size: 20px;
      text-align: left;
      // font-family: "Times New Roman", Times, serif;
      // font-family: 'Orbitron', sans-serif;
      font-family: 'Hind Vadodara', sans-serif;
    }

    & .questionNumber {
      float: right;
      width: 70px;
      display: block;
      text-align: right;
      color: lawngreen;
    }
  }

  & .answers {
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: block;
    color: white;

    & .answerA, .answerB, .answerC, .answerD {
      background-color: #004c45;
      border: 2px solid white;
      color: white;
      width: 341px;
      float: left;
      margin: 10px;
      height: 53px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 1s;
      font-family: 'Hind Vadodara', sans-serif;

      &:hover {
        background-color: black;
        transition: 1s;
        color: lawngreen;
        cursor: pointer;
      }
    }
  }

  & .image {
    width: 100%;
    height: 300px;
    justify-content: center;
  }
  & .submit {
    float: left;
    width: 100%;
    & .submitButton {
      background-color: black !important;
      width: 250px;
      border: 2px solid white;
      margin: 15px auto;
      height: 50px;
      transition: 2s;
      &:hover, :focus {
        animation: shake 1s infinite;
        transition: 2s;
        animation: none;
        color: white;
        box-shadow: 
          inset -200px 0 0 0 #4b6901, inset 200px 0 0 0 #4b6901
      }
    }
  }
}

// .timer {
//   position: absolute; 
//   top: 0; 
//   left: 0; 
//   margin: 15px;
//   // background-color: rgb(75, 75, 75);
//   // animation: pulse 0.4s infinite;
//   // padding: 15px;
//   // border: white solid 2px;
//   // border-radius: 100%;

//   height: 124px;
//   width: 124px;

  


//   &:hover {
//     cursor: pointer;
    
//     .background {
//       stroke: transparent;
//     }
    
//     .foreground {
//       stroke-dashoffset: 0;
//       transform: rotate(-90deg);
//     }
    
//     .line {
//       stroke: #EE3769;
//     }
    
//     .line {
//       transform: rotate(180deg);
//     }
//   }
// }

// .background {
//   fill: transparent;
//   stroke: #1abc9c;
//   transition: all 200ms ease;
//   stroke-width: 2;
// }

// .foreground {
//   fill: transparent;
//   stroke-dasharray: 377;
//   stroke-dashoffset: 377;
//   stroke: #EE3769;
//   transform-origin: 50% 50%;
//   transform: rotate(-270deg);
//   transition: all 800ms ease;
//   stroke-width: 2;
// }

// .line {
//   stroke-width: 2;
//   stroke: #1abc9c;
//   transform-origin: 50% 50%;
//   transition: all 500ms ease;
// }

// @keyframes timerAnimation {

// }
